body {
  color: #fff;
  background-color: #000;
}

html{
  display: table;
  margin: auto;
}

body{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

ul{
  list-style: none;
}
